
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('polices/menu/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('polices/menu/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'amaticbold';
    src: url('polices/titre_principal/amatic-bold-webfont.woff2') format('woff2'),
         url('polices/titre_principal/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body
{
    background-color: rgb(241, 206, 163);
}
.conteneur
{
    width: 1300px;
    margin: auto;
    
}
/* Page forum.php */
.rediger_topic button
{
    border-radius: 8px;
    position: absolute;left:105px;top:178px;
    background-color: rgb(235, 185, 149);
    font-size: 22px;
    font-family:'kaushan_scriptregular';   
}

.topic
{
    border: 1px white solid;
    border-radius: 6px;
    background-color: rgb(199, 231, 231);  
    margin-top:2%;
    margin-bottom: 5px
}
.titre_topic h3
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.titre_topic a
{
     text-decoration: none;
     color: rgb(53, 101, 131);
}
.titre_topic :hover
{
    color: chocolate;
}
.titre_topic
{
    font-style: italic;
    text-decoration: none;
}
.titre_topic h3
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: rgb(53, 101, 131);
    margin-bottom: 1px;
}
.titre_topic_paragraphe
{
    margin-left: 10px;
    
}
.titre_topic_p
{
    margin-left: 10px;
}
.contenu_topic
{
    margin-left: 10px;
}
/* Page rediger_article.php */

.new_topic 
{    
    margin-top: 20px;    
    border-radius: 8px;
}
.new_topic h2
{
    font-size: 30px;
    font-family: 'kaushan_scriptregular';
    font-weight: lighter;
    margin-top:0px;
    text-decoration: underline;
    padding-left: 20px;
}
.new_topic form
{
    padding-left: 20px;
}
.new_topic input
{
    border-radius: 6px;
}
.new_topic textarea
{
    border-radius: 6px;
}

.new_topic label
{
    font-family: 'kaushan_scriptregular';
    font-size: 20px;
}
.new_topic button
{
    border-radius: 6px;
    background-color:hsl(202, 65%, 84%);
}
/* Page commentaire.php */
.topic_post
{
    border: 1px white solid;
    border-radius: 6px;
    background-color: rgb(199, 231, 231);  
    margin-top:2%;
    margin-bottom: 5px
}
.espace_comm
{
    
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.titre_topic_post
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: rgb(53, 101, 131);
    margin-bottom: 1px;
}
.form_comm
{
    
    border-radius: 8px ;
    background-color: hsl(25, 50%, 63%);
    box-shadow: black 1px 1px 10px;
    margin-left: 20px;
    height: fit-content;
    flex: 1;
    position: relative;
}
.form_comm h2
{
    font-size: 25px;
    font-family: 'kaushan_scriptregular';
    font-weight: lighter; margin-top:0px;
    text-decoration: underline;
    padding-left: 20px;
}
.form_comm label
{
    font-family: 'kaushan_scriptregular';
    font-size: 18px;
}
.titre_comm
{
    padding-left: 5px;
    font-size: 18px;
}
.contenu_comm p
{
    padding-left: 15px;
}
.commentaires_conteneur
{
    
    display: flex;
    flex-direction: column;
    flex: 2;
}
.commentaire
{
    border-radius: 8px;        
    margin-bottom: 10px;
    background-color:whitesmoke;
    box-shadow: black 1px 1px 10px;      
}  
.commentaire h3
{
    margin-left: 10px;
}   
.poster_commentaire
{
    border-radius: 6px;
    background-color:hsl(202, 65%, 84%);
    position: absolute;right: 5px;bottom:10px
       
}

/* Formulaire d'inscription */

.fenetre_inscription
{
    border-radius: 8px ;
    margin-top: 30px;    
    height: auto;
}
.fenetre_inscription h2
{
    font-size: 40px;
    font-family: 'kaushan_scriptregular';
    font-weight: lighter; margin-top:0px;
    text-decoration: underline;
    padding-left: 20px;
}
.fenetre_inscription p
{
    font-size: 20px;
    padding-left: 20px;
    font-style: italic;
}
.fenetre_inscription form
{
    padding-left: 20px; 
}
.fenetre_inscription label
{
    font-family: 'kaushan_scriptregular';
    font-size: 20px;
}
.fenetre_inscription input
{
    border-radius: 6px;
}
.fenetre_inscription button
{
    border-radius: 6px;
    background-color:hsl(202, 65%, 84%);  
}
/* Formulaire d'inscription $_POST */
.formulaire_envoi
{    
    border-radius: 8px ;
    margin-top: 30px;
    height: 170px; 
}
.formulaire_envoi h3
{
    font-size: 25px;
    font-family: 'kaushan_scriptregular';
    font-weight: lighter; margin-top:0px;
    text-decoration: underline;
    padding-left: 20px;
}

.formulaire_envoi p
{
    font-size: 20px;
    padding-left: 20px;
    font-style: italic;
}
.formulaire_envoi button
{
 width: 40px;
 height: 40px;
 border: 3px rgb(197, 191, 191) ridge;
 
 border-radius: 50%;
 margin-left: 20px;
 background: url('images/fleche_retour.png');
 background-repeat: no-repeat;
 background-position: center;
 background-color: white;
 
}
.msg_err
{
    background-color: white;
    border-radius: 6px;
    height: 30px;
}
.msg_err p
{
    color: red;
}
/* Page accueil et page membre */
.msg
{
    background-color: #dfe6e9;
    border-radius: 6px;
    font-size: 18px;    
}
/* Page contact */

.contact_mail
{
    font-weight: bold;
    text-decoration: underline;
}
